[Unit]
Description=webOS service to create necessary database schema for applications
After=filecache.service
Requires=filecache.service

[Service]
Type=oneshot
Restart=no
ExecStart=/usr/bin/luna-send -n 1 palm://com.palm.configurator/run '{"types":["dbkinds","filecache"]}'
ExecStart=/usr/bin/luna-send -n 1 palm://com.palm.configurator/run '{"types":["dbpermissions"]}'


[Install]
WantedBy=webos-base.target
