[Unit]
Description=Create local account on first boot
Requires=configurator.service activitymanager.service
After=configurator.service activitymanager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/createLocalAccount.sh

[Install]
WantedBy=multi-user.target
