[Unit]
Description=webOS database service
Requires=ls-hubd_private.service ls-hubd_public.service
After=ls-hubd_private.service ls-hubd_public.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/sbin/mojodb-luna -c /etc/palm/mojodb.conf /var/db

[Install]
WantedBy=multi-user.target
