[Unit]
Description=webOS database service
Requires=ls-hubd_private.service ls-hubd_public.service
After=ls-hubd_private.service ls-hubd_public.service

[Service]
Type=simple
Restart=on-failure
ExecStartPre=-/usr/bin/db8-prestart.sh
ExecStart=/usr/sbin/mojodb-luna -c /etc/palm/mojodb.conf /var/db /media/cryptofs/data/db8/mediadb

[Install]
WantedBy=multi-user.target
