[Unit]
Description=webOS %i database service
Requires=ls-hubd.service
After=ls-hubd.service

[Service]
Type=simple
Restart=on-failure
ExecStartPre=-/usr/bin/db8-prestart.sh
ExecStart=/usr/sbin/mojodb-luna -c /etc/palm/db8/%i.conf

[Install]
WantedBy=multi-user.target
