[Unit]
Description=Location service for LuneOS
Requires=ls-hubd.service
After=ls-hubd.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/sbin/location-service

[Install]
WantedBy=multi-user.target
