[Unit]
Description=Luna Service - private bus

[Service]
Type=notify
Restart=on-failure
ExecStart=/usr/sbin/ls-hubd --public --conf /etc/luna-service2/ls-public.conf --pmloglib
OOMScoreAdjust=-1000

[Install]
RequiredBy=basic.target
