[Unit]
Description=Luna System Manager
After=LunaSysService.service
Requires=LunaSysService.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/sbin/LunaSysMgr
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
