[Unit]
Description=Provides image manipulation, preference, timezone and ringtone services for webOS components
After=filecache.service
Requires=filecache.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/sbin/LunaSysService

[Install]
WantedBy=multi-user.target
