[Unit]
Description=Luna System Manager
After=LunaSysService.service luna-next.service
Requires=LunaSysService.service luna-next.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/sbin/LunaSysMgr

[Install]
WantedBy=multi-user.target
