[Unit]
Description=Media indexing service
Requires=ls-hubd.service
After=ls-hubd.service configurator.service

[Service]
Type=simple
ExecStart=/usr/sbin/mediaindexer
Restart=always

[Install]
WantedBy=multi-user.target
