[Unit]
Description=Lumberjack
Requires=ls-hubd.service
After=ls-hubd.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/sbin/lumberjack

[Install]
WantedBy=multi-user.target
