[Unit]
Description=webOS internals ipkg service
Requires=ls-hubd_private.service ls-hubd_public.service
After=ls-hubd_private.service ls-hubd_public.service

[Service]
Type=simple
Restart=on-failure
Environment=APPS=/media/cryptofs/apps
# Remove erroneously large list database cache files
ExecStartPre=-/bin/sh -c '[ -d ${APPS}/usr/lib/ipkg/lists ] && find $APPS/usr/lib/ipkg/lists -size +10240k -delete'
ExecStart=/usr/sbin/org.webosinternals.ipkgservice

[Install]
WantedBy=multi-user.target
