[Unit]
Description=The Open webOS logging daemon implementation
Requires=ls-hubd_private.service ls-hubd_public.service
After=ls-hubd_private.service ls-hubd_public.service

[Service]
Type=simple
Restart=on-failure
#--------------------------------------------------------
# This is the PmLogDaemon setup
#
# Configuration:
#  -v      = log configuration on startup
#  -z      = use RFC 3339 timestamp format (UTC/Z)
#  -m      = include monotonic clock
#  -f 6    = show timestamps with high resolution (usecs)
#--------------------------------------------------------
ExecStart=/usr/sbin/PmLogDaemon -z -f 6 -m

[Install]
WantedBy=multi-user.target
