[Unit]
Description=Open webOS daemon to manage charging and battery monitoring
After=activitymanager.service
Requires=activitymanager.service

[Service]
Type=simple
Restart=on-failure
# TODO: check wether the lines below are required anymore
Environment=CONF_DIR=/var/preferences/com.palm.power CONF_FILE=${CONF_DIR}/powerd.conf DEFAULT_CONF_FILE=/etc/default/powerd.conf TMP_FILE=${CONF_DIR}/powerd.tmp
ExecStartPre=-/bin/sh -c 'mkdir -p ${CONF_DIR}'
ExecStartPre=-/bin/sh -c 'cp ${DEFAULT_CONF_FILE} ${TMP_FILE}'
ExecStartPre=-/bin/sh -c 'sync'
ExecStartPre=-/bin/sh -c 'mv ${TMP_FILE} ${CONF_FILE}'
ExecStart=/usr/sbin/powerd

[Install]
WantedBy=multi-user.target
