[Unit]
Description=webOS telephony daemon

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/sbin//usr/sbin/webos-telephonyd

[Install]
WantedBy=webos-base.target
